
bin/Debug/SkillRings 1.7.10.zip
bin/Debug/SkillRings 1.7.4.zip
bin/Debug/SkillRings 1.7.5.zip
bin/Debug/SkillRings 1.7.6.zip
bin/Debug/SkillRings 1.7.7.zip
bin/Debug/SkillRings 1.7.8.zip
bin/Debug/SkillRings 1.7.9.zip
bin/Debug/SkillRings.dll
bin/Debug/SkillRings.pdb
bin/Debug/SpaceCore.dll
obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/SkillRings.csproj.AssemblyReference.cache
obj/Debug/SkillRings.csproj.CoreCompileInputs.cache
obj/Debug/SkillRings.csproj.FileListAbsolute.txt
obj/Debug/SkillRings.dll
obj/Debug/SkillRings.pdb
packages.config
Properties/AssemblyInfo.cs
SkillRings.csproj
SpaceCore.dll
ContentPatcher.dll